html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    width: 100%;
    height: 100%;
    background-image: url('imgs/DeWatermark.ai_1727280330485.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    
}

canvas{ position: absolute; top: 0; } 
/* ---- particles.js container ---- */ 

#particles-js{ 
    position:absolute; 
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000077; 
    background-image: url(""); 
    background-repeat: no-repeat; 
    background-size: cover; 
    /* background-position: 50% 50%;  */
    z-index: 10;
} 

.container{
    max-width: 100%;
    height: 100%;
}

.center{
    width: 100%;
    height: 100%;
}

header{
    width: 100%;
    height: 118px; 
    background-color: rgba(0, 0, 0, 70%); 
    display: flex;
    align-items: center;
}    

header nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
}    

header p{
    color: rgba(255, 255, 255, 0.959);
    font-size: 20PX;
    margin: 0px 40px;
    padding: 10px 10px;
}    

/* .logo{
    width: 90px;
    height: auto;
    vertical-align: middle;
    padding: 0px 22px;
}     */

.main{
    /* width: 100%; */
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 50;
}    

.main h2, span{
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-weight: normal;
} 

.main span{
    font-weight: bolder;
}

.menu {
    list-style-type: none;
    display: flex;
}

.menu-item {
    position: relative;
}

.menu-item a {
    padding: 0px;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.menu-item a:after {    
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #ffffff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.menu-item a:hover:after { 
    width: 100%; 
    left: 0; 
}

.dropdown {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 1200px;
    background: linear-gradient(to right, rgba(255, 255, 255, 50%) 0%, rgba(255, 255, 255, 50%) 15%, rgb(0 0 0 / 50%) 15%, rgb(0 0 0 / 50%) 100%);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 1rem;
    margin-top: 10px;
    /* margin-left: 3px; */
    max-height: 0;
    opacity: 0;
    transform: scaleY(0);
    transition: max-height 0.5s ease, opacity 0.5s ease;
    overflow: hidden;
} 

.dropdown-content {
    display: flex;
    justify-content: space-around;
}

.column1 {
    width: 200px;
    padding: 10px;
}


.column h3 {
    color: #ffffff;
    margin-bottom: 10px;
    display: flex;
    margin: 14px;
}

.column1 a {
    color: #000000;
    text-decoration: none;
    display: inline-block;
    position: relative;
    white-space: nowrap;
}

.column1 a:after {    
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.column1 a:hover:after { 
    width: 100%; 
    left: 0; 
}

.column {
    width: 200px;
    margin-left: 10px;
    padding: 10px;
}
.column a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.column a:after {    
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #ffffff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.column a:hover:after { 
    width: 100%; 
    left: 0; 
}

.menu-item.active .dropdown {
    max-height: 500px; /* Set a reasonable height to allow for full dropdown */
    opacity: 1;
    transform: scaleY(1);
}

.logo {
    width: 90px;
}

.center {
    height: 80px;
    color: #FFF;
}











.animacao-home {
    position: fixed;
    z-index: 9999;
    background-color: #000;
    color: #FFF;
    width: 100%;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    animation: anima-logo 2s forwards;
    animation-delay: 5.6s;
    overflow: hidden;
}

@keyframes anima-logo {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transition: visibility 0s linear 0.66s, opacity 0.33s linear;
        z-index: -10;
    }
}

.animacao-conteudo {
    animation: fadeInlogoUp 2s forwards;
    animation-delay: 4s;
    position: absolute;
    position: absolute;
    top: 42%;
    left: 42%;
}

@keyframes fadeInlogoUp {
    0% {
        opacity: 1;
        /* transform: translateX(0%) scale(1); */
        transform: scale(1);
    }
    100% {
        opacity: 1;
        /* transform: translate(-293%, -243%) scale(0.298); */
        transform: scale(0.298);
        position: absolute;
        top: -4%;
        left: -3.5%;
    }
}

.animacao-logo {
    /* _border: 1px solid red; */
    width: 300px;
    text-align: center;
    opacity: 0;
    animation: fadeOut 3s forwards;
    animation-delay: 2.8s;
}

.animacao-texto {
    font-size: 32px;
    width: 300px;
    height: 50px;
    text-align: center;
    position: absolute;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
}

.animacao-texto-fixo {
    position: absolute;
    opacity: 0;
    animation: fadeOut 2s forwards;
    animation-delay: 2.3s;
    margin-left: 32px;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animacao-texto-inicial {
    text-align: center;
    opacity: 0;
    animation: fadeOut 2.3s forwards;
}

.black {
    filter: /* for demonstration purposes; originals not entirely black */ contrast(1000%) /* black to white */ invert(100%) /* white to off-white */ sepia(100%) /* off-white to yellow */ saturate(10000%) /* do whatever you want with yellow */ hue-rotate(90deg);
}

.pa {
    position: absolute;
}

.letraW {
    animation: letraW 3s alternate forwards;
    animation-delay: 0.5s;
    left: 34%;
}

@keyframes letraW {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-70px);
    }
}

.letraI {
    left: 46%;
    animation: letraI 3s alternate forwards;
    animation-delay: 0.5s;
}

@keyframes letraI {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-72px);
    }
}

.letraS {
    left: 52%;
    animation: letraS 3s alternate forwards;
    animation-delay: 0.5s;
}

@keyframes letraS {
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(-15px);
    }
}

    .letraE {
        left: 60%;
        animation: letraE768 3s alternate forwards;
        animation-delay: 0.5s;
        left: 60%;
}

@keyframes letraE768 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(54px);
    }
}




































