.animacao-home {
    position: fixed;
    z-index: 9999;
    background-color: #000;
    color: #FFF;
    width: 100%;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    animation: anima-logo 2s forwards;
    animation-delay: 5s;
    overflow: hidden;
}

@keyframes anima-logo {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transition: visibility 0s linear 0.66s, opacity 0.33s linear;
        z-index: -10;
    }
}

.animacao-conteudo {
    position: absolute;
    animation: fadeInlogoUp 1.3s forwards;
    animation-delay: 4s;
    top: 42%;
    left: 42%;
}

@keyframes fadeInlogoUp {
    0% {
        opacity: 1;
        /* transform: translateX(0px) scale(1); */
        transform: scale(1);
    }
    100% {
        opacity: 1;
        /* transform: translate(-914px, -448px) scale(0.200); */
        transform: scale(0.200);
        position: absolute;
        top: -5.5%;
        left: -5.5%;
    }
}

.animacao-logo {
    _border: 1px solid red;
    width: 300px;
    text-align: center;
    opacity: 0;
    animation: fadeOut 3s forwards;
    animation-delay: 2.8s;
}

.animacao-texto {
    font-size: 32px;
    width: 300px;
    height: 50px;
    text-align: center;
    position: absolute;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
}

.animacao-texto-fixo {
    position: absolute;
    opacity: 0;
    animation: fadeOut 2s forwards;
    animation-delay: 2.3s;
    margin-left: 32px;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animacao-texto-inicial {
    text-align: center;
    opacity: 0;
    animation: fadeOut 2.3s forwards;
}

.black {
    filter: /* for demonstration purposes; originals not entirely black */ contrast(1000%) /* black to white */ invert(100%) /* white to off-white */ sepia(100%) /* off-white to yellow */ saturate(10000%) /* do whatever you want with yellow */ hue-rotate(90deg);
}

.pa {
    position: absolute;
}

.letraW {
    animation: letraW 3s alternate forwards;
    animation-delay: 0.5s;
    left: 34%;
}

@keyframes letraW {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-70px);
    }
}

.letraI {
    left: 46%;
    animation: letraI 3s alternate forwards;
    animation-delay: 0.5s;
}

@keyframes letraI {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-72px);
    }
}

.letraS {
    left: 52%;
    animation: letraS 3s alternate forwards;
    animation-delay: 0.5s;
}

@keyframes letraS {
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(-17px);
    }
}

.letraE {
        left: 60%;
        animation: letraE768 3s alternate forwards;
        animation-delay: 0.5s;
        left: 60%;
}

@keyframes letraE768 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(50px);
    }
}