.navbar {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    height: 80px;
    z-index: 2;
}

.menu {
    list-style-type: none;
    display: flex;
}

.menu-item {
    position: relative;
    display: flex;
    flex-direction: row;
}

.menu-item a {
    padding: 14px;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.menu-item a:after {    
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #ffffff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.menu-item a:hover:after { 
    width: 100%; 
    left: 0; 
}

.dropdown {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 1200px;
    background: linear-gradient(to right, rgba(255, 255, 255, 50%) 0%, rgba(255, 255, 255, 50%) 15%, rgb(0 0 0 / 50%) 15%, rgb(0 0 0 / 50%) 100%);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 1rem;
    margin-top: 3px;
    margin-left: 3px;
    max-height: 0;
    opacity: 0;
    transform: scaleY(0);
    transition: max-height 0.5s ease, opacity 0.5s ease;
    overflow: hidden;
} 

.dropdown-content {
    display: flex;
    justify-content: space-around;
}

.column1 {
    width: 200px;
    padding: 10px;
}


.column h3 {
    color: #ffffff;
    margin-bottom: 10px;
    display: flex;
    margin: 14px;
}

.column1 a {
    color: #000000;
    text-decoration: none;
    display: inline-block;
    position: relative;
    white-space: nowrap;
}

.column1 a:after {    
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.column1 a:hover:after { 
    width: 100%; 
    left: 0; 
}

.column {
    width: 200px;
    margin-left: 10px;
    padding: 10px;
}
.column a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.column a:after {    
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #ffffff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.column a:hover:after { 
    width: 100%; 
    left: 0; 
}

.column p {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.column p:after {    
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #ffffff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.column p:hover:after { 
    width: 100%; 
    left: 0; 
}

.menu-item.active .dropdown {
    max-height: 500px; 
    opacity: 1;
    transform: scaleY(1);
}

.logo {
    width: 60px;
}

.center {
    height: 80px;
    color: #FFF;
    display: flex;
    margin-left: 456px;
    align-items: center;
    overflow: hidden;
}

p {
    color: #FFF;
    width: 800px;
}
