canvas{ position: absolute; top: 0; } 

#particles-js{ 
    position:absolute; 
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-image: url("../PlanoDeFundo/PlanoTI.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.versao {
    color: rgba(255, 255, 255, 0.418);
    position: absolute;
    top: 97%;
    left: 96%;
}

.projeto {
    display: flex;
    display: flex;
    position: absolute;
    top: 40%;
    flex-direction: column;
    align-items: center;
    left: 25%;
    right: 25%;
    color: #ffffffbe;
    font-size: 1.2rem;
}

.projeto p{
    color: #ffffffbe;
    font-size: 1.4rem;
}

